body {
  padding-top: 50px;
  padding-bottom: 80px;
}


.carousel-inner > .item > img { margin: 0 auto; }

@media (max-width: 767px) {
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 20px;
      }
      .carousel-caption p {
        font-size: 10px;
      }
}

.navbar .divider-vertical {
  height: 60px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
}

table .team {
 background-color: #DFF0D8 !important;
}

table .tri {
  background-color: rgb(250, 240, 180) !important;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse
{
	animation-name: pulse_animation;
	animation-duration: 2000ms;
	transform-origin:40% 40%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

