---
layout: default
title: 1.FC Kaiserslautern Triathlon Team
---

<div class="container"> 
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h1>News</h1>
        <ul>
          {% for post in site.posts %}
            {% if post.categories contains 'news' %}
              <li>
                <a href="{{ post.url }}">{{post.date | date_to_string}} - {{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h1>Wettkämpfe</h1>
        {% for post in site.posts %}
          {% if post.categories contains 'races' %}
             <a href="{{ post.url }}">{{post.date | date_to_string}} - {{ post.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>  
</div>
