<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Latest compiled and minified bootstrap CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">  
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->        
    </head>
    <body>
      <div class="navbar-wrapper">
              <div class="container">
          <div class="row">
              <img src="/images/headerimg.jpg">
          </div>
        </div>

      <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">            
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Startseite</a></li>
                <li><a href="#about">Bilder</a></li>
                <li><a href="#contact">Mitglied werden</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>
        
        </div>
        <div class="container"> 
          <div class="row">
            <div class="col-md-6">
              <div class="well">
                <h1>News</h1>
                <ul>
                  {% for post in site.posts %}
                    <li>
                      <a href="{{ post.url }}">{{post.date | date_to_string}} - {{ post.title }}</a>
                      <p>{{ post.excerpt }}</p>
                    </li>
                  {% endfor %}
               </ul>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="well">
                <h1>Wettkämpfe</h1>
                  <table class="table">
                    <tr><td><strong>6. Juli</strong></td><td>Ironman Frankfurt</td></tr>
                    <tr><td><strong>22. Oktober</strong></td><td>Ironman Hawaii</td></tr>
                  </table>
              </div>
            </div>
          </div>  
        </div>
      <hr>    
      <div class="container">
      <footer>
        <p>Mit freundlicher Unterstützung von:
        <table align="center">
          <tr>
            <td><img src="/images/pizza-hut.png"></td>
            <td><img src="/images/rhoen-park-hotel.png"></td>
            <td><img src="/images/wheelsports.png"></td>
            <td><img src="/images/www.medi-fit-kl.de.png"></td>
            <td><img src="/images/aktiv3.png"></td>
          </tr>
        </table>
        </p>
        <p class="pull-right">&copy; 1.FC Kaiserslautern 2014</p>
      </footer>
      </div>
        <!-- Bootstrap core JavaScript
             ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>        
        
        <!-- Latest compiled and minified bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    </body>
</html>
